version: '2'
services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    command: yarn dev
    ports:
      - "8080:8080"
    env_file: .env
    restart: always
    volumes:
      - ./:/web
