@import "../../styles/variables.scss";
@import "../../styles/theme/light.scss";

.app-header {
	background-color: $white;
	color: $black;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	max-height: 75px;
	right: 0;
	i {
		color: #ea751b;
		margin-right: 10px;
	}
	.theme-logo {
		height: 28px;
		margin-top: 5px;
	}
	.active-nav-link, .nav-link {
		color: $black !important;
	}
	.user-title {
		color: #3a3737;
		font-size: 17px;
	}
}
