@import "../../styles/variables.scss";
@import "../../styles/theme/light.scss";

.table-container {
    .column1 {
        width: 28%;
        padding-left: 40px;
    }
    .column2 {
        width: 20%;
    }
    .column3 {
        width: 12%;
    }
    .column4 {
        width: 20%;
    }
    .column5 {
        width: 20%;
    }
}
