$side-nav-width: 200px;
$app-header-height: 70px;
$error-color: #FF5766;
$input-text-clr: #253858;
$dark-grey: #aaa;
$success-btn-bg-clr: #0070e0;
$cancel-btn-clr: #2870d7;
$cancel-btn-bg-clr: #eef1f7;

