$side-nav-width: 200px;
$app-header-height: 70px;
$error-color: #FF5766;
$input-text-clr: #253858;
$dark-grey: #aaa;
$success-btn-bg-clr: #ea751b;
$cancel-btn-clr: #ea751b;
$cancel-btn-bg-clr: #fff;

